<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card MakingHelper</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.js"></script>
    <link rel="stylesheet" href="mainpage.css">
    </style>
</head>


<body>
    <div id="app" class="wrap">

        <div class="alleypinstandcard" v-if="alleycardshow">
            <div id="content" :style="{transform: 'scale('+ contentscale+')'}" class="content">
                <img src="./media/standcard/allepin-standcard.jpg" alt="">
                <div class="logowrap" :style="{left:logoleft+'%',top:logotop+'%'}">
                    <img id="preview_progressbarTW_img" src="#" :style="{width:logow+'px',height:logoh+'px'}" />

                </div>
                <div class="clinicname" :style="{left:clinicx+'%',top:clinicy+'%'}">
                    <h3 :style="{fontSize:fz+'px'}">{{clinicname}}</h4>
                </div>
                <div class="idname" :style="{left:idx+'%',top:idy+'%'}">
                    <h3 :style="{fontSize:idnamefz+'px'}">{{idname}}</h4>
                </div>
                <div class="qrcodewrap">
                    <img id='barcode' class="barcode" src="https://api.qrserver.com/v1/create-qr-code/?data=HelloWorld&amp" alt="" title="HELLO" width="50" height="50" />
                </div>

            </div>

        </div>
        <div class="etalkstandcard" v-else>
            <div id="content" :style="{transform: 'scale('+ contentscale+')'}" class="content">
                <img src="./media/standcard/1talk-standcard.jpg" alt="">
                <!-- <div class="logowrap" :style="{left:logoleft+'%',top:logotop+'%'}">
                    <img id="preview_progressbarTW_img" src="#" :style="{width:logow+'px',height:logoh+'px'}" />

                </div> -->
                <div class="clinicname" :style="{left:clinicx+'%',top:clinicy+'%'}">
                    <h3 :style="{fontSize:fz+'px'}">{{clinicname}}</h4>
                </div>
                <div class="idname" :style="{left:idx+'%',top:idy+'%'}">
                    <h3 :style="{fontSize:idnamefz+'px'}">{{idname}}</h4>
                </div>
                <div class="qrcodewrap" :style="{left:codex+'%',top:codey+'%'}">
                    <img id='barcode' class="barcode" src="https://api.qrserver.com/v1/create-qr-code/?data=HelloWorld&amp" alt="" title="HELLO" width="50" height="50" />
                </div>
            </div>

        </div>
        <div class="alleypintoolarea">
            <div class="tabbar">
                <div class="standcardbtn">
                    <span>立牌製作</span>
                </div>
                <div class="smallcardbtn">
                    <a href="./smallcard.html">
                        小卡製作
                    </a>

                </div>
                <div class="flowbtn">
                    流程圖製作
                </div>
            </div>
            <div class="type" @click="switchcard">
                <span v-if="alleycardshow">Alleypin</span>
                <span v-else>1.talk</span>
                <div class="hovercover"></div>
            </div>
            <div class="cliniclogo" v-if="alleycardshow">
                <div class="title">
                    <span>診所Logo上傳</span>
                </div>
                <div class="uploadwrap">
                    <input type="file" onchange="readURL(this)" targetID="preview_progressbarTW_img" accept="image/gif, image/jpeg, image/png" />
                </div>
            </div>
            <div class="logoadjust" v-if="alleycardshow">
                <div class="left"></div>
                <div class="right">
                    <h4>Logo樣式調整</h4>
                    <div class="adjustarea">
                        <div class="width">
                            <span>寬度</span>
                            <input type="text" placeholder="20" v-model="logow">
                        </div>
                        <div class="height">
                            <span>高度</span>
                            <input type="text" placeholder="20" v-model="logoh">
                        </div>
                        <div class="x">
                            <span>x軸位置</span>
                            <input type="text" placeholder="20" v-model="logoleft">
                        </div>
                        <div class="y">
                            <span>y軸位置</span>
                            <input type="text" placeholder="20" v-model="logotop">
                        </div>
                    </div>
                </div>

            </div>
            <div class="clinicname">
                <div class="title">
                    <span>診所名稱</span>
                </div>
                <div class="right">
                    <div class="inputwrap">
                        <span>診所名稱</span>
                        <input type="text" v-model="clinicname">
                    </div>

                    <div class="clnicx">

                        <span>字體大小</span>
                        <input type="text" placeholder="20" v-model="fz">

                    </div>
                    <div class="clnicy">

                        <span>X位置</span>
                        <input type="text" placeholder="20" v-model="clinicx">

                    </div>
                    <div class="fzadjust">

                        <span>Y位置</span>
                        <input type="text" placeholder="20" v-model="clinicy">

                    </div>
                </div>
            </div>
            <div class="clinicname">
                <div class="title">
                    <span>搜尋ID</span>
                </div>
                <div class="right">
                    <div class="inputwrap">
                        <span>ID名稱</span>
                        <input type="text" v-model="idname">
                    </div>

                    <div class="fzadjust">

                        <span>字體大小</span>
                        <input type="text" placeholder="20" v-model="idnamefz">

                    </div>
                    <div class="idpadjust">

                        <span>X位置</span>
                        <input type="text" placeholder="20" v-model="idx">

                    </div>
                    <div class="idpadjust">

                        <span>Y位置</span>
                        <input type="text" placeholder="20" v-model="idy">

                    </div>
                </div>
            </div>
            <div class="qrcode">
                <div class="title">
                    <span>QRCODE 網址</span>
                </div>
                <div class="inputurl">
                    <span>QRCODE網址</span>
                    <input type="text" id="qrurl" placeholder="url">
                </div>
                <div class="codestyle" v-if="alleycardshow">
                    <div class="colorwrap">
                        <span>Color</span>
                        <input type="text" name="" id="" v-model="qrcolor">
                    </div>
                    <div class="genbtn" @click="generateBarCode">
                        <span>GEN</span>
                    </div>

                </div>
                <div class="codeadjust" v-else>
                    <div>
                        <span>X位置</span>
                        <input type="text" v-model="codex" placeholder="x位置">
                    </div>
                    <div>
                        <span>Y位置</span>
                        <input type="text" v-model="codey" placeholder="y位置">
                    </div>
                    <div class="genbtn" @click="generateBarCode">
                        <span>GEN</span>
                    </div>

                </div>

            </div>
            <div class="scaleadjust">
                <span>縮放區塊</span>
                <input type="text" v-model="contentscale">
            </div>
            <div class="downloadarea">
                <img id="demo" class="downloadtable" onclick="downloadtable()" src="./media/Group 3.svg" alt="">
            </div>
        </div>
    </div>






</body>

<script>
    new Vue({
        el: '#app',
        data: {
            clinicname: "診所名稱",
            fz: '70',
            idnamefz: '50',
            logow: 'auto',
            logoh: '250',
            logoleft: '70',
            logotop: '0',
            idname: 'idname',
            code: 'code',
            qrcolor: '',
            contentscale: '',
            idx: '',
            idy: '',
            clinicx: '',
            clinicy: '',
            codex: '',
            codey: '',
            alleycardshow: true
        },
        methods: {
            generateBarCode() {
                var nric = document.querySelector('#qrurl').value;
                var color = this.qrcolor
                console.log(color)
                var url = 'https://api.qrserver.com/v1/create-qr-code/?data=' + nric + '&color=' + color;
                document.querySelector('#barcode').setAttribute('src', url);
            },
            switchcard() {
                if (this.alleycardshow == true) {
                    this.alleycardshow = false
                } else {
                    this.alleycardshow = true
                }

            }
        },
    })

    // function generateBarCode() {

    // }

    function downloadtable() {

        var node = document.getElementById('content');

        domtoimage.toPng(node)
            .then(function(dataUrl) {
                var img = new Image();
                img.src = dataUrl;
                downloadURI(dataUrl, "records.jpg")
            })
            .catch(function(error) {
                console.error('oops, something went wrong!', error);
            });

    }



    function downloadURI(uri, name) {
        var link = document.createElement("a");
        link.download = name;
        link.href = uri;
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        delete link;
    }

    function readURL(input) {

        if (input.files && input.files[0]) {

            var imageTagID = input.getAttribute("targetID");

            var reader = new FileReader();

            reader.onload = function(e) {

                var img = document.getElementById(imageTagID);

                img.setAttribute("src", e.target.result)

            }

            reader.readAsDataURL(input.files[0]);

        }

    }
</script>

</html>